* {
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
   }

.show {
    display:block;
}   


#backImg {
    background-image: url("./images/2427.jpg");
    background-repeat: no-repeat;
    background-size: contain ;
    height: 100vh;
background-color:gold;
}

#nomeDoJogo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large;
    
    
    justify-items: center;
    padding-left: 1090px;
    padding-top: 400px;
    border: none
}

#botaoStart {
    position: absolute;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: solid black;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: blue;
   }
   
   #botãoStart:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   #botaoStart:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   #botãoStart::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   #btn::after {
    background-color: #fff;
   }
   
   #btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

   /*TELA DE INICIO /\ ----------------------------------------------------------------*/

 #container {
    background-image: url(./images/ceuSimpsons.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    display: grid;
    border: solid black;
    height: 99vh;
    width: 80vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 18% 18% 18% 18% 28%;
    overflow: hidden;
 }

.grid,
.grid2 {
    border: solid blue;
    display: flex;
    justify-items: center;
    align-items: center;
}





 .caneca {
    height: 175px;
    width: 175px;
    bottom: 0;
    position: relative; 
    

    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(./images/png-transparent-homer-simpson-illustration-homer-simpson-internet-meme-drooling-meme-television-vertebrate-head-thumbnail.png);
    background-size: contain;
    align-items: center;
    margin-left: 18px;

    
    
}

.move-right {
    animation: right 3s infinite linear;
    
}

@keyframes right {
    0% {
        left : 0px
    }
    100% {
       left: 235px
    }
}

.move-left {
    animation: left 3s infinite linear;
}

@keyframes left {
    0% {
        right: 0px;
    }
    100% {
        right: 235px;
    }
}


.lata {
    background-image: url("./images/duff.png");
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;

    animation: slide 2s infinite linear;
    
}

